<%= content_for :body_main_content do %>
  <h1><%= controller_name %> > <%= action_name %></h1>
  <p>Find me in app/views/<%= controller_name %>/<%= action_name %>.html.erb</p>
<% end %>

<%= render :partial => 'user/shared/base' %>
